    /* GENERICI */
    
    
    /* HEADER  */
    nav {
        color: white !important;
    }

    /* MAIN CONTENT  */
    .jumbotron{min-height: 580px;}
    .jumbotron div {min-height: 580px;}

    .star-line::before,
    .star-line::after{
        content: "";
        width: 100px;
        height: 2px;
        background-color: white;
        display: inline-block;
    }
    .star-line-1::before,
    .star-line-1::after{
        content: "";
        width: 100px;
        height: 2px;
        background-color: #2c3e50;
        display: inline-block;
    }



    .portfolio  {min-height: 770px;}
    .portfolio div {min-height: 770px; }
    



    .about {min-height: 530px;}
    .about div {min-height: 240px;}

    .contact-me {min-height: 670px;}
    .contact {min-height: 670px;}
    

    .social {min-height: 230px;}
    .social div {min-height: 230px;}

    .end {min-height: 110px;}
    .end div {min-height: 110px;}
        

    
    
    /* FOOTER  */
/*************************************/
/******* XS RESPONSIVE:  *******/
@media screen and (max-width: 575px) {

    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    .about{margin-top: 3rem;}
    .about-p{padding: 2rem 0.5rem ;}
    .about-botton{ padding-top: 1rem;}

    
    
    /* FOOTER  */
}




/**************************************/
/******* SM RESPONSIVE:  *******/
@media screen and (min-width: 576px)  {
 
    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    .graphic{font-size: 1.3rem;}
    .about{margin-top: 3rem;}
    .about-p{padding: 2rem 0.5rem ;}
    .about-botton{ padding-top: 1rem;}
    
    
    /* FOOTER  */
    
}


/******************************************/
/******* MD- RESPONSIVE:    *******/
@media screen and (min-width: 768px)  {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}


/************************************************/
/******* LG - RESPONSIVE:*******/
@media screen and (min-width: 992px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    .start-b{padding-left: 10rem;}


    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}

/************************************************/
/******* XL - RESPONSIVE:    *******/
@media screen and (min-width: 1200px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */

    
    /* MAIN CONTENT  */
    .portfolio  {min-height: 700px;}

        

    
    
    /* FOOTER  */
    
}

/************************************************/
/******* XXL- RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 1400px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}

